@model FennyFeeds.ViewModels.VM_Signup

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>verifyEmailForgotPassword</title>
       <link href="~/content/css/bootstrap.min.css" rel="stylesheet" />
    <script src="~/content/scripts/jquery-3.3.1.min.js"></script>
    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>

    <script src="~/Scripts/jquery.validate.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.js"></script>

</head>
<body>
    <div>

        @using (Html.BeginForm(new { @id = "form1" }))
        {
            @Html.ValidationSummary(true)
    
            <div class="container-fluid">
                <div class="row alert-bg">
                    <div class="alert-box">
                        <div class="img-div">
                            <img src="~/content/images/FennyFeedsLogo.png" style="width: 250px;" alt="FennyFeeds" />
                        </div>
                        @if (ViewBag.unsuccessDiv == true)
                        {
                            <div class="box-txt" id="unsuccessDiv" visible="false">
                                <h2>Oops !</h2>
                                <p>
                                    Registration link is either invalid or expired. Please retry.
                                </p>
                                <p><a href="~/SignUp">Go to Login</a></p>
                            </div>
                        }
                        @if (ViewBag.successDiv == true)
                        {
                            <div class="box-txt" id="successDiv" visible="false">
                                <div class="box-txt">
                                    <div class="div-block form-group">
                                        <h2>Forgot Password ?</h2>
                                    </div>
                                    <div class="div-block form-group">
                                        @*<input type="password" class="form-control" placeholder="New Password" id="txtChangePassword" maxlength="50" data-validate="btnChangePassword" />*@
                                        @Html.PasswordFor(model => model.Password, new { @class = "form-control form-properties", @placeholder = "New Password", @id = "txtChangePassword" })
                                        @Html.ValidationMessageFor(model => model.Password)
                                    </div>
                                    <div class="div-block form-group">
                                        @*<input type="password" class="form-control vRequiredText" placeholder="Confirm Password" id="txtConfirmPassword" maxlength="50" data-validate="btnChangePassword" />*@
                                        @Html.PasswordFor(model => model.Password, new { @class = "form-control form-properties", @placeholder = "Confirm Password", @id = "txtConfirmPassword" })
                                        @Html.ValidationMessageFor(model => model.Password)
                                    </div>
                                    <div class="div-block form-group">
                                        <button id="btnChangePassword" type="button" class="btn btn-primary br2" style="border-radius: 2px">Submit</button>
                                    </div>
                                </div>
                            </div>
                        }
                    </div>
                </div>
            </div>
        }
    </div>

    <script>
        $(document).ready(function () {

            $("#btnChangePassword").click(function () {

                $('form').validate();

                if ($('form').valid()) {

                    $("#btnChangePassword").attr('disabled', 'disabled');
                    $("#btnChangePassword").html('<span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>Loading...');

                    var verifyid = '@ViewBag.VerifyID';
                    var Password = $("#txtChangePassword").val();
                    var ConfirmPassword = $("#txtConfirmPassword").val();
                    if (Password != ConfirmPassword) {
                        swal({
                            title: "Warning!",
                            text: "Confirm password does not match",
                            type: "error",
                            icon: "error",
                        }).then(function () {
                            $("#txtConfirmPassword").val("");
                            $("#txtConfirmPassword").focus();
                            $("#btnChangePassword").removeAttr('disabled', 'disabled');
                            $("#btnChangePassword").html('Submit');
                        });

                        return false;
                    }

                    $.ajax({
                        type: "POST",
                        url: 'ChangePassword?verifyid=' + verifyid + '&Password=' + Password,
                        dataType: "json",
                        data: function () {

                        }(),
                        contentType: "application/json; charset=utf-8",
                        success: function (result) {
                            $("#btnChangePassword").removeAttr('disabled', 'disabled');
                            $("#btnChangePassword").html('Submit');

                            if (result == "done") {

                                swal({
                                    title: "Success!",
                                    text: "Password changed successfully.",
                                    type: "success",
                                    icon: "success",
                                }, function () {
                                    window.location = "~/SignUp";
                                });

                            }
                            else {

                                swal({
                                    title: "Warning!",
                                    text: "Unable to change password this time. Please try again later.",
                                    type: "error",
                                    icon: "error",
                                }, function () {
                                    window.location = "~/SignUp";
                                });

                            }

                        }
                    });

                }
            });
        });

    </script>

</body>
</html>
